.bg_blog {
  background-color: rgb(185, 240, 226);
  padding: 25px;
}

.blog-content-class {
  padding: 50px;
}

.blog-card-class {
  height: 300px;
}

.blog-card-title-class {
  margin-top: 25px;
  margin-left: 50px;
}

.blog-card-detail-class {
  width: 60%;
  position: relative;
  top: -50px;
  right: -100px;
  text-align: justify;
}
